*{
    padding: 0px;
    margin-left: 0px;
    
}

body{
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    position: relative;
    font-family: arial,sans-serif;
}

#main{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}


#maininput{
    width: 30rem;
    border-style: none;
    border-radius: 20px;
    height: 2.5rem;
    border: 1px solid #EAEAEA;
    margin: 1.5rem 0;
}

button{
    border-style: none;
    height: 2.3rem;
    width: 27%;
    border-radius: 3px;
    margin: 0 4px;
    width: 150px;
    color: #5f6368);
}

.offered{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.offered a{
    color: #1a0dab;
}

a{
    text-decoration: none;
    margin: 0 10px;
    color: #5f6368;
}

#topli{
    float: right;
    margin-right: 20px;
    font-size: 15px;
}

li{
    float: left;
    list-style: none;


}

#topli img{
    border-radius: 100%;
}

.footer{
    background: #f2f2f2;
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin: 0px auto;
    color: rgba(0,0,0,.54);
    
    font-size: 15px;
}

.country{
    width: 95%;
    height: 30px;
    margin: 0 auto;
    
}
hr{
    margin: 0px;
}
#legal{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 45px;
    margin: 0 auto;
}

#legal ul{
    margin:0px;
    padding: 0px;
}

#legal p{
    margin-right: 10px;
    color:#5f6368;
}
hr{
    opacity: .3;
}
